{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

{% endblock %}

{% block javascripts %}
<script>
   
    var ns = {
        postCargarPagina:function(pagina){
            $.ajax({ url: "/listadoPost/" + pagina,
                success: function(htmlRecibido){
                    $('#post_list').html(htmlRecibido);
                }
            });            
        }
    }

    $(document).ready(function(){
        $.ajax({ url: "/userpanel",
        success: function(htmlRecibido){
     
           $('#user_panel').append(htmlRecibido);
        }});

        ns.postCargarPagina({{currentPage}});

        $.ajax({ url: "/new_post",
        success: function(htmlRecibido){
   
           $('#new_post').append(htmlRecibido);
        }});
        $.ajax({ url: "/post_filter",
        success: function(htmlRecibido){
           
           $('#post_filter').append(htmlRecibido);
        }});
        $.ajax({ url: "/publicidad",
        success: function(htmlRecibido){
           
           $('#publicidad').append(htmlRecibido);
        }});

});
</script>

{% endblock %}

{% block body %}

<main class="sharesport_main">
    <div class="container-fluid gedf-wrapper">
        <div class="row w-75 mx-auto">
            <section id='user_panel' class="user_panel col-md-3">
                 {# cargara por ajax el user_panel #}
             </section>
            <section  class="main_post col-md-6 gedf-main">
                 <div id='new_post'>{# cargara por ajax el new_post #}</div>
                 <div id='post_filter'>{# cargara por ajax el filter_post #}</div>
                 <div id='post_list'>{# cargara por ajax el post_list #}</div>
                 
            </section>
            <section class="publicidad col-md-3">
                <div id='publicidad'>{# cargara por ajax el publicidad #}</div>
            </section>
        </div>
    </div>
</main>
{% endblock %}





