{% extends 'base.html.twig' %}

{% block title %}New StReacciones{% endblock %}

{% block body %}
    <h1>Create new StReacciones</h1>

    {{ include('st_reacciones/_form.html.twig') }}

    <a href="{{ path('st_reacciones_index') }}">back to list</a>
{% endblock %}
