{% extends 'baseAdmin.html.twig' %}

{% block title %}New StDeportes{% endblock %}

{% block body %}
    <h1>Create new StDeportes</h1>

    {{ include('st_deportes/_form.html.twig') }}

    <a href="{{ path('st_deportes_index') }}">back to list</a>
{% endblock %}
