

{% block body %}

    <div class="container">
        {{ form_start(form) }}
            {{form_widget(form.deportes, { 'id': 'deporteSelected' })}}
            {{form_widget(form.ciudades, { 'id': 'ciudadSelected' })}}            
        {{ form_end(form) }}
        <button onclick="enviarFiltros()" class="btn btn-primary">Buscar Posts</button>
        <button onclick="ns.quitarFiltroPosts()" class="btn btn-secondary">Quitar Filtro</button>
    <div>
    <script>
        function enviarFiltros(){
            deporte = document.getElementById('deporteSelected');
            ciudad = document.getElementById('ciudadSelected');

            ns.cargarPostsFiltro(deporte.value, ciudad.value);
        }

    </script>

{% endblock %}
