<div>
    <div class="card gedf-card">
        <div class="card-body pt-0">
            <p class="card-text">
                <img src="img/publi/120x600_web_banner_example-005.jpg"></img>
            </p>
        </div>
    </div>
    <div class="card gedf-card">
        <div class="card-body">

            <p class="card-text">
                <img src="img/publi/120x600_web_banner_example-002.jpg"></img>
            </p>
        </div>
    </div>
</div>