<div class="">
                <div class="card gedf-card">
                    <div class="card-body">
                    <!--     <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                        <p class="card-text">
                        <img src="https://www.justgothere.com/images/120x600_web_banner_example-005.jpg">
                        </img></p>
                      <!--   <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>-->
                    </div>
                </div>
                <div class="card gedf-card">
                        <div class="card-body">
                       <!--      <h5 class="card-title">Card title</h5> 
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                            <p class="card-text">
                            <img src="https://www.justgothere.com/images/120x600_web_banner_example-002.jpg">
                            </img></p>
                       <!--    <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>-->
                        </div>
                    </div>
            </div>